<% include header.ejs %>
    <button class="btn btn-secondary mt-3" id="open-form">Nouvelle partie</button>
    <form id="new-champ-form" class="d-none">
        <div>
            <label for="name">Nom de votre champion:</label>
            <input type="text" id="name" name="user_name" required>
        </div>
        <p>Vous avez 15 points à placer selon votre convenance. 1 point minimum et 9 maximum par statistique.</p>
        <label>Valeur d'<strong>attaque</strong> de votre champion: </label>
        <input id="attaque" type="number" value="5" min="1" max="9">
        <label>Valeur de <strong>défense</strong> de votre champion: </label>
        <input id="defense" type="number" value="5" min="1" max="9">
        <label>Valeur d'<strong>agilité</strong> de votre champion: </label>
        <input id="agilite" type="number" value="5" min="1" max="9">
        
    <a class="btn btn-secondary" id="boutonPoint">Valider mes points</a>
    </form>
    <div id="pointLeft"></div>
    <div id="combat" hidden>
        <p>combat</p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');
        
        function combat(){
          let combat = document.getElementById("combat");
          let form = document.getElementById("formulaire");
          let point = document.getElementById("boutonPoint");
          let start = document.getElementById("start");
          if (combat.style.display === "none") {
              combat.style.display = "block";
              form.style.display = "none";
              point.style.display = "none";
              start.style.display = "none";
          } else {
              combat.style.display = "none";
              form.style.display = "block";
              point.style.display = "block";
              start.style.display = "block";
          }
            /*let data = "{pseudo : "+document.getElementById("name")+", attaque : "+Number(document.getElementById("attaque").value)+", defense : "+Number(document.getElementById("defense").value)+", "+Number(document.getElementById("agilite").value)+"}";*/
          let pseudo = document.getElementById("name").value;
          socket.emit('NewPlayer', pseudo);
            
            
            
            
          /*document.getElementById("test").innerHTML = pseudo;*/
        }
        
        /*socket.on('NewPlayer', function(pseudo) {
            document.getElementById("test").innerHTML = pseudo;
        })*/
    </script>
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/main.js"></script> 
    </body>
</html>
