<% include header.ejs %>
    <button class="btn btn-secondary mt-3" id="open-form">Nouvelle partie</button>
    <form action="/combat" method="POST" id="new-champ-form" class="d-none">
        <div>
            <label for="name">Nom de votre champion:</label>
            <input type="text" id="name" name="user_name" required>
        </div>
        <p>Vous avez 15 points à placer selon votre convenance. 1 point minimum et 9 maximum par statistique.</p>
        <label>Valeur d'<strong>attaque</strong> de votre champion: </label>
        <input id="attack" name="attack_points" type="number" value="5" min="1" max="9">
        <label>Valeur de <strong>défense</strong> de votre champion: </label>
        <input id="defense" name="defense_points" type="number" value="5" min="1" max="9">
        <label>Valeur d'<strong>agilité</strong> de votre champion: </label>
        <input id="agility" name="agility_points" type="number" value="5" min="1" max="9">
        
    <a class="btn btn-secondary" id="boutonPoint">Valider mes points</a>
    </form>
    <div id="pointLeft"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/main.js"></script> 
    </body>
</html>
