a .brand-name{
	font-size: 2.2rem;
	font-family: 'ZCOOL KuaiLe', cursive;
	text-align: center;
	color: #FFDA00;
	text-shadow: 1px 1px 2px black; 
}

a:hover {
	text-decoration: none;
}

body {
	min-height: 100vh;
	background-color: #e5e5e5;
}

.navbar{
	background-color: #ef6c00;
}

label, .input-field > label {
	font-size: 1.2rem;
}

a:not([href]):not([tabindex]) {
	color: white;
}

a:hover {
	color: white;
}

p, button, body {
    font-family: 'Acme', cursive;
    color : #424242;
    font-weight: 600;
}

strong {
    font-weight: 700;
    color: #444;
}
